
<footer class="footer container-fluid fixed-bottom">
<div class="text-end mb-2">
  <span class="text-white"> <%=link_to "https://github1s.com/Tepepeka/eventbrite_02" do %>
    <i class="fa-brands fa-github">Github</i>
  <%end%> &copy; <%=Date.today.year%></span>
</div>
</footer>